*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular weight */
    color: #333333; /* Dark Charcoal for text */
    background-color: #F5F5F5; /* Light Gray for background */
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold for headings */
    color: #0047AB; /* Royal Blue for headings */
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Light weight for secondary text */
    color: #333333; /* Text color */
}

.main
{
    
    height: 100vh;
    width: 100vw;
    background-color: #F9A602;
   
    border: 1px solid black;
}
.navbar
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  #0047AB;
    font-size: xx-large;
}
.bigbox
{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box{
    height: 70%;
    width: 350px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow:0px  0px 3px 3px #C77E02;
    background-color:   #66D1B5;
    border: none;
    display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   flex-direction: row;

}
.heading
{
    height: 10%;
    width: 100%;
    border: 1px solid none;
    
}
.types
{
    height: 90%;
    width: 100%;
    background-color:  #66D1B5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.boxes
{
    height: 20%;
    width: 80%;
    border: 1px solid black;
    gap: 5px;
    background-color: #00A676;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: large;
    align-items: center;
}
.boxes:hover
{
    
    box-shadow: 0px 4px 10px 2px #007f5f; 

}

a
{
   height: 20%;
   width: 80%;
   font-size: large;
   text-align: center;
   background-color: #00A676;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: -large;
    align-items: center;
    color: inherit;
}